.main_comment_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.main_comment_menu {
  display: flex;
  font-size: 0.8rem;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.main_comment_menu span {
  cursor: pointer;
}
