*,
*::before,
*::after {
  box-sizing: border-box;
}

.g_item img {
  transition: transform 0.3s;
  object-fit: cover;
}

.g_item:hover img {
  transform: scale(1.15);
}

.profile_main {
  font-size: 10px;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #fff;
  color: #262626;
  /* 인스타 검정색 */
  padding-bottom: 3rem;
}

.p_container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.g_container {
  max-width: 55.5rem;
  margin: 6em auto;
  border-bottom: 2px solid rgb(219, 219, 219);
}

/* border-bottom: 2px solid rgb(219, 219, 219); */

.p_btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.p_btn:focus {
  outline: 0.5rem auto #4d90fe;
}



/* 프로필 섹션 */

.profile {
  padding: 3rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.p_image {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.p_image img {
  border-radius: 50%;
  width: 152px;
  height: 152px;
}

.p_avatarInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.p_avatarInput+label {
  font-size: 1rem;
  line-height: 1.8;
  background-color: #2f93f5;
  border-radius: 0.3rem;
  padding: 0 0.4rem;
  margin-left: 1rem;

  font-weight: 600;
  color: #fff;
  display: inline-block;

  cursor: pointer;
}

.p_avatarInput:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.p_avatarInput:focus+label,
.p_avatarInput+label:hover {
  background-color: #1877f2;
}



.p_user_settings,
.p_stats,
.p_bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.p_user_settings {
  margin-top: 1.1rem;
}

.p_user_name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
}

.p_edit_btn {
  font-size: 1rem;
  line-height: 1.8;
  background-color: #efefef;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.p_edit_btn:hover {
  background-color: #dbdbdb;
}


.p_settings_btn {
  font-size: 2rem;
  margin-left: 1rem;
}



.p_stats {
  padding-top: 20px;
  margin-top: 2.3rem;
}

.p_stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
  font-size: 20px;
}

.p_stats li:last-of-type {
  margin-right: 0;
}

.p_bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.p_explain {
  font-size: 1.2rem;
}

.p_real_name,
.p_stat,
.p_edit_btn {
  font-weight: 600;
}

/* 갤러리 섹션 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.g_item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 100%;
}


.g_item:hover .g_item_info,
.g_item:focus .g_item_info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.g_item_info {
  display: none;
}

.g_image {
  box-shadow: 8px 4px 8px 0px rgb(0 0 0 / 75%);
  width: 100%;
  height: 100%;
}

.scroll-container {
  height: 100%;
  overflow: hidden;
}

/* 미디어 쿼리 - root 크기 의 * 40rem 이하일 경우 */

@media screen and (max-width: 735px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  .profile::after {
    display: none;
  }

  .p_image,
  .p_user_settings,
  .p_bio,
  .p_stats {
    float: none;
    width: auto;
  }

  .p_image img {
    width: 7.7rem;
  }

  .p_user_settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .p_user_name {
    font-size: 2.2rem;
  }

  .p_edit_btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .p_edit_btn {
    margin-left: 0;
  }

  .p_bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  .p_edit_btn,
  .p_bio,
  .p_stats {
    flex-basis: 100%;
  }

  .p_stats {
    order: 1;
    margin-top: 1.5rem;
  }

  .p_stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }

  .p_stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0;
  }

  .p_stat {
    display: block;
  }

  .p_explain {
    padding: 0;
  }
}

.p_user_settings label {
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .p_explain {
    padding: 0;
  }
}



@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
  }

  .p_image {
    grid-row: 1 / -1;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 293px));
    grid-gap: 2rem;
  }

  .g_item {
    width: 100%;
    height: 90%;
  }

  .p_image,
  .p_user_settings,
  .p_stats,
  .p_bio,
  .gallery {
    width: auto;
    margin: 0;
  }


  /* 반응형 */
  @media (max-width: 735px) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;
    }

    .p_image {
      grid-row: 1 / 2;
    }

    .p_user_settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }

    .p_edit_btn,
    .p_stats,
    .p_bio,
    .p_user_settings label {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 1028px) {
    .gallery {
      grid-template-columns: repeat(2, minmax(15rem, 1fr));
    }
  }

  @media (max-width: 690px) {
    .gallery {
      grid-template-columns: repeat(1, minmax(15rem, 1fr));
    }
  }
}