.sidebar_ul {
  display: flex;
  flex-direction: column;
}

.sidebar_ul li {
  margin-bottom: 3rem;
}

.sidebar_ul span {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.sidebar_icon {
  width: 2rem;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .sidebar_ul {
    display: flex;
    position: absolute;
    top: 17px;
    right: 1rem;
    flex-direction: row;
  }
  .sidebar_icon {
    display: none;
  }
  .sidebar_ul span {
    font-size: 1.3rem;
    margin-right: 1rem;
    font-weight: bold;
  }
}
