/*
overlay - moralOverlay
modalContainer - same
modalRight - modalSettings
closeBtn - modalCloseBtn
content - deleted
btnContainer - same

이메일 변경 - changeEmail
로그아웃 - logout
*/

/* .modalBtn {
  z-index: -1;
} */

.modalOverlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/* .modalOverlay:active {
  background-color: #e5e5e5
} */

.modalContainer {
  max-width: 400px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  border: 1px solid #d5d5d5;
  border-radius: 12px;
}

.modalSettings {
  height: 100%;
  width: 100%;
}

.modalCloseBtn {
  font-size: 19px;
  font-weight: 600;
  position: fixed;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.btnContainer {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
}

.modalLogout,
.changeEmail {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 10%;
  left: 25%;
  width: 50%;
  margin: 0.5rem;
  padding: 16px 0;
  border: none;
  color: #262626;
  cursor: pointer;
  box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 75%);
  border: 0px solid none;
  border-radius: 10px;
  margin-bottom: 2.5em;
}

.modalLogout {
  color: #fff !important;
  background-color: #ff4343;
}

/* 여기부터 form */
.modalForm {
  position: relative;
  left: 5%;
  top: 5%;
  margin-bottom: 3.5em;
  width: 100%;
}

.modalInput,
.modalTxtarea {
  width: 90%;
  border: 2px solid #262626;
  border-radius: 0.3rem;
  height: 4em;
}

.formBtn {
  font-weight: 600;
  display: flexbox;
  width: 35%;
  height: 5em;
  color: white;
  background-color: #2f93f5;
  border-radius: 0.3rem;
  padding: 0 1em;
  margin: 10px 10px;
  cursor: pointer;
}


.formBtn:hover {
  background-color: #1877f2;
}

/*
  PostViewer.css
*/

/* 
- 구조 - 
  overlay
    container
      settings
        left
        right
      settings
    container
  overlay
*/


.modalVSettings {
  display: flex;
  overflow: hidden;
}

.modalVLeft {
  border-top: 5em solid #000;
  border-bottom: 5em solid #000;
  flex: 1;
}

.modalVRight {
  flex: 1;
}

.view_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modalVContainer {
  max-width: 75em;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  border: 1px solid #d5d5d5;
  border-radius: 12px;
  overflow: auto;
}


@media (max-width: 768px) {
  .modalVContainer {
    width: 60em;
  }
}

/* modalVRight */

.modalUser {
  display: inline-block;
  height: 10%;
  margin-left: 1rem;
}

.modalUsername {
  display: inline-block;
  line-height: 200%;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1em;
}

.modalProfile {
  display: inline-block;
}

.modalPImg {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.modalContent {
  height: 19em;
  font-size: 1.7rem;
  border-bottom: 5px solid #d5d5d5;
}

.modalLike {
  display: inline-block;
  margin-right: 1.5em;
}

.modalComments {
  height: 90%;
  display: inline-block;
  overflow: auto;
}


.howmanyLikes {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  margin-right: 1em;
}

/*  */

.postEditbtn {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  width: 50%;
  height: 1.7em;
  color: #262626;
  background-color: #efefef;
  border-radius: 0.3rem;
  padding: 0 1em;
  margin: 10px 10px;
  cursor: pointer;
}

.changeBio {
  display: flex;
  margin: 25% auto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8;
  background-color: #efefef;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  cursor: pointer;
}

.changeBio:hover {
  background-color: #dbdbdb;
}


.modalTxtarea {
  width: 20em;
  height: 20em;
  font-size: 1rem;
}

/* PostViewer - comments */

.commentBox {
  border: 2px solid #262626;
  border-radius: 12px;
  padding: 0.3em 0.3em;
  margin-top: 0.5em;
}

.commentEmail {
  margin-left: 0.7em;
  display: inline-block;
  color: black;
}

.commentContent {
  font-size: 1rem;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}

.commentUimg {
  display: inline-block;
  width: 10%;
}

.commentUser {
  display: inline-block;
}

/* PostViewer - modalWriteComment */

.modalWriteComment {
  padding-top: 0.5em;
  display: flex;
  height: 4.5em;
}